body {
	background-color: #DA2700;
}
img {
  border: 5px solid #555;
}
img {
  border: 5px solid #555;
}
img {
  border: 5px solid #555;
}
img {
  border: 5px solid #555;
}
img {
  border: 5px solid #555;
}
img {
  border: 5px solid #555;
}
img {
  border: 5px solid #555;
}
img {
  border: 5px solid #555;
}
img {
  border: 5px solid #555;
}